.body{
    background-color: rgba(0, 0, 0, 0.756);
}

.header-topo {
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    padding: auto;
    justify-items: flex-end;
}


.texto-inicial {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
}


.fontcolorwhite {
    color: white;
}
.imagem{
    margin-top: 40px;
    padding: 10px;
    width: 100%;
}
.footer1{
    background-color: rgb(55, 51, 51);
    width: 100%;
    padding: 40px;
}
.nav1{ 
    display: flex;
    flex-direction: column;
}
.legenda{
    margin-top: 60px;
    width: 100%;
    color: white;
    margin-right:5px;
}
.Button-header {
    background-color: rgb(24, 28, 35);
    border: 1px white solid;
    border-radius: 20px 20px 20px 40px;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.sem-decoracao{
    text-decoration: none;
    color: black;
}

#h1-slide {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    animation: happyWave 0.5s ease-in-out 4;
}

#h2-slide {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px; 
}
.nav-link{
    text-decoration: none;
    align-self: flex-end;
    color: white;
    margin-right: 20px;
}

.Grid-Inicial{
    display: grid;
    width: 100%;
    padding: 20px;
      
      
}
.col-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.col-card:hover .imagem-grid {
    animation: moveToLeft 2s ease-in-out;
    animation-delay: 1000ms;
  }

  .imagem-grid{
  padding: 10px;
  width: 80%
  }


.row {
    justify-items: center;
}

.links{
    color: black;
}

.card-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 30%;
    padding: 20px;
    margin: auto;
    transition: width 0.3s ease;
}
.card-contact-projeto {
    width: 30%;  
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container2 {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}
.list-group{
    width: auto;

}
.div-card{
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-habilidades{
    color: white;
    height: auto;
    margin-top: 100px;
    width: 100%;
     padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}    
    .container-da-habilidade {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center; 
        margin-bottom: 100px;
    }
.container-habilidades{
    width: 100%;
    padding: 0 15px; 
}
.container2{
    justify-content: center;
}
.lista1 {
    padding: 10px;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}
#img-habilidade{
    width: 100%;
    background-color: white;
    border-radius: 220px;
    }
.h1-inicial{
    margin-top: 100px;
}
.list-group-item{
    padding: 15px;
}
.fotos-projetos{
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 40px;
}
.fotos-projetos:hover{
    transform: scale(1.5);
}
.href{
    text-align: center;
    color: white;
    text-decoration: none;
}
.link{
margin-top: 40px;
}
.h3-projeto1{
    margin-top: 35px;
    margin-bottom: 55px;
}
.h3-projeto {
    margin-top: 35px;
    margin-bottom: 55px;
}
.nome-da-foto{ 
    margin-bottom: 30px;
}
.container-testes{
    margin-bottom: 90px;
}
.margin-bottom-{
    margin-bottom: 70px;
}


.p-sobre-mim{
    text-indent: 20px;
    font-size:large;
    color: white;    
    text-align: center;
    margin-top: 30px;
    width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.sobre-mim{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px; 
    box-sizing: border-box; 
}
.sobre-mim-h1{ 
    text-align: center;
    border-radius: 40px;
    align-self: center;
     color: white;    
     margin-top: 30px;
     margin-bottom: 30px;
       width: 20%;
    margin: 30 auto;
     padding: 20px;
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); 
 }
.imagem-shaking{
    display: flex;
    justify-content: flex-end;
}

@keyframes moveToLeft {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(150px);
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
  
@media (min-width: 768px) {
    .legenda {
        text-align: left;
    }
}
@media (max-width: 768px) {
    .card-contact {
        width: 80%; 
        margin-top: 110px;   
         margin-bottom:110px;

    }
    .card-contact-projeto {
        width: 80%;
    }
    .fotos-projetos{
        width: 100%;
        margin-bottom: 50px;
    }
    .sobre-mim-h1 {
        width: 100%;
    }
.list-group {
        width: 100%;
}
    .h1-inicial{ 
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

@keyframes happyWave {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(5deg) translateY(-5px); 
    }
    50% {
        transform: rotate(0deg) translateY(0px); 
    }
    75% {
        transform: rotate(-5deg) translateY(5px); 
    }
    100% {
        transform: rotate(0deg) translateY(0px); 
    }
}

